@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  background: linear-gradient(90deg, #095a53 6%, #063e3e 90%);
  color: #adc5a7;
}

.container {
  width: 80%;
  margin: 0 auto;
}

h1 {
  margin-top: 20px;
}

.bayan {
  padding: 20px 0;
}

.bayan__item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bayan__subtitle {
  position: relative;
  border-top: solid 1px #adc5a7;
  padding: 20px 0;
}

.bayan__subtitle:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #adc5a7 transparent transparent transparent;
}

img {
  width: 35%;
  align-self: center;
}